
<div class="container">
  <h3>My Books</h3>
  <div *ngIf="books.length == 0">
    <h4>You have no books</h4>
  </div>
  <li class="row" *ngFor="let book of books" [class.selected]="book=== selectedBook" (click)="onSelect(book)">
    <h4 class="card-title">{{ book.title }}</h4>
    <p class="card-text">by {{book.author}}</p>
    <div *ngIf="selectedBook===book">
      <button (click)="deleteBook()" class="btn btn-danger">Delete book</button>
      <button (click)="gotoDetail()" class="btn btn-info">Book Details</button>
    </div>
  </li>
</div>
